<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="registration-box">
            <h2>Register</h2>
            <form action="/save" method="post">
                <div class="textbox">
                    <input name="username" type="text" placeholder="Username" required>
                </div>
                <div class="textbox">
                    <input name="password" type="password" placeholder="Password" required>
                </div>
                <input type="submit" class="btn" value="Register">
            </form>
            <a href="/" class="btn login-btn">Back to Login</a>
        </div>
    </div>
</body>
</html>
